.project__text {
    max-width: 1080px;
    margin-left: 0;
}

.marker__icon1,
.marker__icon2,
.marker__icon3 {
    cursor: pointer;
}

.project__text svg path {
    transition: fill 0.3 ease;
}

.project__text svg path:hover {
    fill: var(--main);
}

.project__text svg path {
    transition: fill 0.3 ease;
}

.project__text svg path:focus {
    fill: var(--main);
}

.project__text svg path {
    transition: fill 0.3 ease;
}

.project__text svg path:active {
    fill: var(--two);
}

.tippy-box[data-theme~="purple"] {
    background-color: var(--main);
    color: white;
}

.tippy-box[data-theme~="purple"][data-placement^="top"]>.tippy-arrow::before {
    border-top-color: var(--main);
}

.tippy-box[data-theme~="purple"][data-placement^="bottom"]>.tippy-arrow::before {
    border-bottom-color: var(--main);
}

.tippy-box[data-theme~="purple"][data-placement^="left"]>.tippy-arrow::before {
    border-left-color: var(--main);
}

.tippy-box[data-theme~="purple"][data-placement^="right"]>.tippy-arrow::before {
    border-right-color: var(--main);
}

.tippy-box[data-placement^="bottom"]>.tippy-arrow::before {
    border-bottom-color: var(--main);
}

.project__partners-heading {
    padding-top: 50px;
}

.project__partners-container {
    position: relative;
}

.swiper3 {
    overflow: hidden;
    margin-left: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(1450/ 1600*100%);
}

.project__partners-container {
    height: 128px;
}

.project__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 60px;
    height: 150px;
    border: 1px solid gray;
    box-sizing: border-box;
}


/* 
.project__slide:hover {
    filter: grayscale(0);
} */

.grey-swiper-btn {
    position: relative;
    flex-shrink: 0;
    width: 26px;
    height: 26px;
    background-color: #ECECEC;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .3s ease-out, border .3s ease-out;
}

.project__nav {
    z-index: 1;
    position: absolute;
    top: 41%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.grey-swiper-btn::before {
    content: "";
    position: absolute;
    top: calc(50% - 7px / 2);
    width: 7px;
    height: 7px;
    transform: rotate(45deg);
    transform-origin: center;
}

.project__button-next::before {
    left: calc(50% - 7px / 2);
    border-top: 1px solid black;
    border-right: 1px solid black;
}

.project__button-prev::before {
    left: calc(50% - 7px / 2);
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.project__slide-img {
    filter: grayscale(1);
    opacity: 0, 4;
    transition: filter 0.3s ease, opacity 0.3s ease;
}

.project__slide:hover .project__slide-img {
    filter: grayscale(0);
    opacity: 1;
}

.project__slider-btn {
    z-index: 123;
    position: absolute;
    top: 50%;
    transition: opacity .3s ease-out;
}

.project__button-next {
    right: 0;
    transform: translate(-10%, -50%);
}

.project__button-prev {
    left: 0;
    transform: translate(5%, -50%);
}

.grey-swiper-btn:hover:not(:focus) {
    background-color: #D1A9F0;
}

.grey-swiper-btn:active:not(:hover):not(:focus) {
    border: 1px solid #9D5CD0;
}